target/
target
*.iml
.idea/
.DS_Store
.classpath
.project
.settings
*.log
bin
.gitkeep
deploy
velocity.log*
.vscode/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
Thumbs.db
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
_site
_dist
dist
_package
sea-modules
spm_modules
.cache
coverage
*.zip
_tmp
.editorconfig/
